@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.Date {
  display: flex;
  .CommentDate {
    @include font-tertiary-size-weight(small);
  }
  .PostDate {
    @include font-tertiary-size-weight(tiny);
    text-transform: uppercase;
    padding-left: 5px;
  }
}
