@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.PostNavigation {
  height: $post-navigation-height;
  padding: 0px 10px;
  @include flex-content-items(column, center, flex-start);
  @include border(bottom, 1px, solid, $primary-border-color);
  .PostActions {
    width: 100%;
    display: flex;
    .PostIcon {
      padding: 0px 5px;
      cursor: pointer;
      &:last-child {
        margin-left: auto;
      }
    }
  }
  .Likes {
    @include font-primary-size-weight(regular, bold);
    padding-left: 5px;
  }
}
