.PostNavigation {
  border-bottom: 1px solid var(--grey);
  height: 90px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--white);
  a {
    text-decoration: none;
  }
  .PostActions {
    width: 100%;
    display: flex;

    .PostIcon {
      padding: 0px 5px;
      &:last-child {
        margin-left: auto;
      }
    }
  }
  .Likes {
    color: var(--black);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    padding-left: 5px;
  }
}
