@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.Footer {
  @include flex-content-items(row, center, flex-start);
  height: $footer-height;
  width: 100%;
  background-color: $primary-background-color;
}
