@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.RegisterFormBox {
  @include auth-form();
  @include flex-content-items(column, center, stretch);
  @include border-default($grey);
  .RegisterForm {
    position: relative;
    height: 290px;
    padding: 0px 40px;
    @include flex(column);
    text-align: center;
    .passwordVisibility {
      position: absolute;
      right: 10px;
      top: 55px;
      font-size: 14px;
    }
    input {
      @include form-input();
    }
  }
}
