@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

// Placeholder
%post-comments {
  width: 100%;
  @include flex(column);
  @include scrollbar();
  @include border(bottom, 1px, solid, $primary-border-color);
  padding: 10px 5px;
  overflow: auto;
}

.PostComments {
  @extend %post-comments;
  height: comments-height(single);
}

.PostCommentsBlock {
  @extend %post-comments;
  max-height: comments-height(block);
}
