@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.Header {
  position: fixed;
  height: $header-height;
  width: 100%;
  background-color: $primary-paper-color;
  @include border(bottom, 1px, solid, $grey);
  @include box-shadow();
  @include flex-content-items(row, center, center);
  z-index: 2;
  .Navbar {
    width: $page-container-width;
    @include flex-content-items(row, space-between, center);
    .Logo {
      @include font-primary-size-weight(huge, bold);
      &:focus {
        @include outline();
      }
    }
    .NavigationLinks {
      @include flex-content-items();
      .NavIcon {
        margin-left: 20px;
        @include icon(medium);
      }
    }
  }
}

#userAvatarNavbar {
  @include icon-size-properties(medium);
  @include border-radius(circle);
  cursor: pointer;
  object-fit: cover;
}

.userAvatarNavbarActive {
  @include border-default($primary-border-color);
}
