@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.Post {
  @include page-layout(row, flex-start, flex-start, $header-height);
  .PostContainer {
    height: $post-single-height;
    @include flex();
    @include box-shadow();
    .PostInfoContainer {
      background-color: $primary-paper-color;
      min-width: $post-single-width;
      height: 100%;
      @include flex(column);
      @include border-default($primary-border-color);
    }
  }
}
