.Post {
  display: flex;
  flex-direction: column;
  // border-left: 1px solid var(--grey);
  // border-right: 1px solid var(--grey);
  justify-content: flex-start;
  align-items: center;
  width: 975px;
  height: 100%;
  margin: auto;
  padding: 40px 20px;
  flex-grow: 1;
  margin-top: 56px;
  .PostContainer {
    height: 600px;
    //TEMP HEIGHT
    display: flex;
    // width: 816px;
    width: 100%;
    .PostInfoContainer {
      background-color: var(--white);
      min-width: 335px;
      height: 100%;
      display: flex;
      flex-direction: column;
      border: 1px solid var(--grey);
    }
  }
}
