@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.ProfileHeader {
  width: $page-container-width;
  height: $profile-header-height;
  @include flex();
  margin-bottom: 40px;
  .ProfileUser {
    @include flex();
    .ProfileAvatarContainer {
      width: 300px;
      @include flex-content-items(row, center, flex-start);
      margin-right: 40px;
      label {
        height: $profile-header-height;
        width: $profile-header-height;
        cursor: pointer;
      }
      img {
        @include border-radius(circle);
        height: $profile-header-height;
        width: $profile-header-height;
        @include border-default($primary-border-color);
        object-fit: cover;
      }
    }
    .ProfileInfo {
      @include flex-content(column, flex-start);
    }
  }
}
