@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.UserTag {
  @include flex-content-items(row, flex-start, center);
  width: 100%;
  padding: 8px 16px;
  .UserAvatar {
    margin-right: 12px;
    .Avatar {
      @include avatar();
    }
    .Avatar--small {
      @include avatar-size-properties(small);
    }
    .Avatar--medium {
      @include avatar-size-properties(medium);
    }
    .Avatar--large {
      @include avatar-size-properties(large);
    }
  }
  .UserInfo {
    @include flex-content-items(column, flex-start, flex-start);
    .Username {
      @include font-primary-size-weight(regular, bold);
    }
    .FullName {
      @include font-tertiary-size-weight();
    }
  }
}
