// .CommentContainer {
//   display: flex;
//   justify-content: flex-start;
//   align-items: flex-start;
//   width: 100%;
//   padding: 10px 0px;
//   .CommentAvatar {
//     display: flex;
//     justify-content: center;
//     width: 64px;
//   }
//   .Comment {
//     width: 100%;
//     overflow: hidden;

//     span {
//       padding-right: 5px;
//       font-weight: 600;
//     }
//     .CommentText {
//       display: inline;
//       word-break: break-all;
//     }
//   }
//   img {
//     border-radius: 50%;
//     height: 32px;
//     width: 32px;
//     border: 1px solid var(--grey);
//     object-fit: cover;
//   }
//   .CommentOptions {
//     padding: 0px 10px;
//     cursor: pointer;
//   }
// }

.Comment {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 10px 0px;
  .CommentAvatar {
    display: flex;
    justify-content: center;
    width: 64px;
  }
  .CommentContent {
    width: 100%;
    height: 100%;
    position: relative;
    // overflow: hidden;
    .CommentOptions {
      position: absolute;
      opacity: 0;
      width: 40px;
      height: 100%;
      background-color: white;
      right: 0;
      top: 0;
      &:hover {
        visibility: visible;
        background-color: var(--white);
        opacity: 0.9;
      }
    }
    span {
      padding-right: 5px;
      font-weight: 600;
    }
    .CommentText {
      display: inline;
      word-break: break-all;
      margin-bottom: 10px;
    }
  }
  img {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    border: 1px solid var(--grey);
    object-fit: cover;
  }
  .CommentOptions {
    padding: 3px 10px;
    cursor: pointer;
  }
  .CommentLike {
    padding: 0px 10px;
    cursor: pointer;
  }
  .CommentNavigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 12px;
    margin-top: 10px;
    .CommentLikes {
      font-size: 12px;
      letter-spacing: 0.2px;
      color: grey;
      height: auto;
      margin-left: 12px;
    }
  }
}
