@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.Comment {
  @include flex-content-items(row, flex-start, flex-start);
  padding: 10px 0px;
  .CommentAvatar {
    @include flex-content(center);
    width: 64px;
  }
  .CommentContent {
    position: relative;
    width: 100%;
    .CommentOptions {
      position: absolute;
      opacity: 0;
      height: 100%;
      background-color: $primary-paper-color;
      right: 0;
      top: 0;
      padding: 3px 10px;
      cursor: pointer;
      &:hover {
        visibility: visible;
        background-color: $primary-paper-color;
        opacity: 0.9;
      }
    }
    .CommentUsername {
      @include font-username(large);
      padding-right: 5px;
    }
    .CommentText {
      display: inline;
      word-break: break-all;
      margin-bottom: 10px;
      @include font-primary-size-weight();
    }
  }
  img {
    @include avatar(small, $primary-border-color, circle);
  }
  .CommentLike {
    padding: 0px 10px;
    cursor: pointer;
  }
  .CommentNavigation {
    @include flex-content-items(row, flex-start, center);
    height: 12px;
    margin-top: 10px;
    .CommentLikes {
      @include font-tertiary-size-weight(small);
      margin-left: 12px;
    }
  }
}
