@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.ChangePassword {
  @include flex(column);
  .UserSection {
    display: flex;
    margin-top: 50px;
    .UserAvatar {
      width: $edit-field-value-width;
      @include flex-content-items(row, center, center);
      .Avatar {
        @include avatar(medium);
      }
    }
  }
  .Username {
    width: calc(100% - #{$edit-field-value-width});
    @include flex-content-items(row, flex-start, center);
    @include font-profile-username();
  }

  form {
    width: 100%;
    .InputSection {
      display: flex;
      width: 100%;
      height: $edit-form-input-height;
      margin-top: $edit-form-margin;
      margin-bottom: $edit-form-margin;
      .FieldValue {
        @include flex-inline-content-items();
        width: $edit-field-value-width;
        span {
          @include font-primary-size-weight(regular, bold);
        }
      }
      input {
        @include form-input();
        width: calc(100% - #{$edit-field-value-width});
      }
    }
    .ButtonSection {
      padding-left: $edit-field-value-width;
      margin-top: $edit-form-margin;
    }
  }
  p {
    margin-left: $edit-field-value-width;
    padding: 10px 0px;
  }
}
