@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.searchContainer {
  width: $search-container-width;
  position: relative;
  @include flex-content-items();
  input {
    width: 200px;
    height: 28px;
    @include border-default($primary-border-color);
    @include border-radius(radius(small));
    text-align: center;
    &:focus {
      @include outline-input();
    }
  }
  .autoCompleteContainer {
    position: absolute;
    z-index: 3;
    top: 50px;
    @include flex-content-items(column, flex-start, center);
    @include border-default($primary-border-color);
    background-color: $primary-paper-color;
    min-height: $search-container-min-height;
    max-height: $search-container-max-height;
    width: 100%;
    overflow: auto;
  }
}
