@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.UserBlock {
  @include flex-content-items(row, flex-start, center);
  height: 63px;
  width: 100%;
  padding: 8px 16px;
  .AvatarContainer {
    margin-right: 12px;
    img {
      @include avatar(medium);
    }
  }
  .UserInfoContainer {
    @include flex-content-items(column, flex-start, flex-start);
    .UserUsername {
      @include font-username();
    }
    .UserFullName {
      @include font-tertiary-size-weight();
    }
  }
  Button {
    margin-left: auto;
  }
}
