.ProfileStats {
  margin-bottom: 20px;
  ul {
    list-style: none;
    justify-content: flex-start;
    padding: 0;
    display: flex;
    li {
      font-size: 16px;
      margin-right: 40px;
    }
    .StatsLink {
      cursor: pointer;
    }
  }
}
.ModalContainer {
  max-height: 400px;
  min-height: 200px;
  overflow: auto;
  // &::-webkit-scrollbar {
  //   width: 0px;
  // }
  // -ms-overflow-style: none; /* IE and Edge */
  // scrollbar-width: none; /* Firefox */
  // scrollbar-width: thin;

  // scrollbar-width: none;
}
