@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.ProfileStats {
  margin-bottom: 20px;
  ul {
    @include flex-content(row, flex-start);
    li {
      @include font-primary-size-weight(large);
      margin-right: 40px;
    }
    .StatsLink {
      cursor: pointer;
    }
  }
}
.ModalContainer {
  max-height: 400px;
  min-height: 200px;
  padding: 0px 12px;
  width: 100%;
  overflow: auto;
  // @include scrollbar();
}
