.PostNewComment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 55px;
  font-size: 14px;
  line-height: 18px;
  height: auto;
  background-color: var(--white);
  .CommentForm {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 0px 10px;
    .CommentInput {
      border: none;
      resize: none;
      outline: none;
      width: 100%;
      min-height: 28px;
      height: 100%;
      // height: auto;
      overflow: auto;
      background-color: var(--white);
      &::-webkit-scrollbar {
        width: 20px;
        background: transparent;
      }
    }
  }
}
