@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.PostHeader {
  height: $post-header-height;
  @include flex-content-items(row, flex-start, center);
  @include border(bottom, 1px, solid, $primary-border-color);
  padding: 10px 5px;
  .PostAvatar {
    @include flex-content();
    width: avatar-size(small);
    height: avatar-size(small);
    margin: 0px 10px;
  }
  .PostUser {
    @include font-username(large);
  }
  .Options {
    @include flex-content-items();
    padding: 10px;
    cursor: pointer;
    &:last-child {
      margin-left: auto;
    }
  }
  img {
    @include avatar(small, $primary-border-color, circle);
  }
}
