@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.ProfileNavigation {
  width: 100%;
  height: $profile-navigation-height;
  @include border(top, 1px, solid, $primary-border-color);
  @include flex-content-items(row, center, flex-start);
  .Tab {
    position: relative;
    @include flex-content-items(row, space-between, center);
    @include border(top, 1px, solid, $primary-border-color);
    height: $profile-navigation-height;
    margin: 0 25px;
    margin-top: -1px;
    color: $tertiary-font-color;
    font-size: font-size(small);
    text-transform: uppercase;
    cursor: pointer;
    .Icon {
      margin-right: 10px;
    }
  }
  .Tab--Active {
    color: $primary-font-color;
    @include border(top, 1px, solid, $secondary-border-color);
  }
}
