@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.FeedContainer {
  @include flex(column);
  min-width: 67%;
  flex: 2;
  padding-right: 25px;
  .SuggestionsContainer {
    @include flex-content-items(column, center, space-around);
    @include box-shadow();
    margin-bottom: 45px;
    background-color: $primary-paper-color;
  }
}
