@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.Explore {
  @include page-layout(column, flex-start, center, $header-height);
  .Suggested {
    width: 600px;
    h4 {
      margin: 12px 0px;
      padding: 0px 16px;
      @include font-primary-size-weight(regular, bold);
    }
  }
}
