@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.ProfileSettings {
  @include flex-content-items(row, flex-start, center);
  width: 100%;
  margin-bottom: 20px;
  .ProfileUsername {
    @include font-profile-username();
    margin-right: 20px;
  }
  a {
    @include flex-content(row, center);
  }
  .Settings {
    cursor: pointer;
    margin-left: 20px;
  }
}
