@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.btn {
  color: $secondary-font-color;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: weight(regular);
  border-radius: radius(small);
  cursor: pointer;
  @include btn-font();
  &:focus {
    outline: none;
  }
}

/* Button Styles and Sizes */

.btn--primary--solid {
  @include border-default($primary-color);
  background-color: $primary-color;
}

.btn--light--solid {
  @include border-default($primary-color);
  background-color: $primary-color;
  opacity: 0.4;
}

.btn--secondary--solid {
  @include border-default($primary-paper-color);
  background-color: $primary-paper-color;
  color: $primary-color;
}

.btn--secondary--solid--required {
  @include border-default($primary-paper-color);
  background-color: $primary-paper-color;
  color: $primary-color;
  cursor: not-allowed;
  opacity: 0.4;
}

.btn--secondary--outline {
  @include border-default($primary-border-color);
  background-color: $primary-paper-color;
  color: $primary-font-color;
  &:focus {
    @include border-default($primary-paper-color);
    color: $tertiary-font-color;
  }
}

.btn--required {
  cursor: not-allowed;
}

.btn--medium {
  padding: btn-padding(medium);
}

.btn--small {
  padding: btn-padding(small);
}

.btn--modal {
  width: 100%;
  height: 50px;
  color: $primary-font-color;
  @include border(bottom, 1px, solid, $primary-border-color);
  border-radius: 0px;
  &:first-child {
    border-top: none;
    @include border-corner-radius(top, left, large);
    @include border-corner-radius(top, right, large);
  }
  &:last-child {
    border-bottom: none;
    @include border-corner-radius(bottom, left, large);
    @include border-corner-radius(bottom, right, large);
  }
  &:focus {
    background-color: darken($primary-paper-color, 15%);
  }
}

.btn--margin--right {
  margin-right: 20px;
}

.btn--danger {
  color: $danger;
}
