@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.UserCard {
  @include flex-content(column, space-evenly);
  height: 208px;
  width: 168px;
  @include border-default($primary-border-color);
  padding: 20px;
  margin: 0px 16px;
  .AvatarContainer {
    @include flex-content(row, center);
    img {
      @include avatar(large);
    }
  }
  .UserInfoContainer {
    @include flex-content-items(column, center, center);
    width: 126px;
    .UserUsername {
      @include font-username(regular, bold);
    }
    .UserFullName {
      @include font-tertiary-size-weight();
    }
  }
}
