@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.Accounts {
  @include page-layout(column, flex-start, center, $header-height);
  .AccountsContainer {
    display: flex;
    flex-grow: 1;
    width: $page-container-width;
    @include border-default($primary-border-color);
    .AccountsNavigation {
      width: 25%;
      @include border(right, 1px, solid, $primary-border-color);
      .NavigationList {
        li {
          display: block;
          padding: 16px 16px 16px 30px;
          @include border(bottom, 1px, solid, $primary-border-color);
          a {
            @include font-primary-size-weight();
          }
        }

        .active {
          @include border(left, 3px, solid, $primary-color);
          padding-left: 27px;
        }
      }
    }

    .AccountsInfo {
      width: 75%;
      height: 100%;
      padding: 20px;
    }
  }
}

*:focus {
  outline: 1px solid $primary-color;
}
