@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.DateOfBirthFormBox {
  width: $auth-form-width;
  height: $auth-form-height;
  background-color: $primary-paper-color;
  @include flex-content-items(column);
  @include border-default($primary-border-color);
  text-align: center;
  h3 {
    @include font-primary-size-weight(larger, bold);
    margin: 10px;
  }
  h6 {
    @include font-primary-size-weight();
  }
  span {
    @include font-primary-size-weight(regular, bold);
    margin: 10px;
    cursor: pointer;
  }
  .DateOfBirthForm {
    @include flex-content-items(column, center, stretch);
    margin: 0px 40px;
    .dateContainer {
      @include flex-content-items();
      height: 80px;
      margin: 0px 40px;
      .dateSelect {
        background-color: $primary-paper-color;
        @include border-default($primary-border-color);
        height: 36px;
        @include border-radius(radius(small));
        color: $tertiary-font-color;
        margin: 5px;
        &:focus {
          outline: 1px solid $primary-color;
        }
      }
    }
  }
}
