@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.EmailFormBox {
  width: $auth-form-width;
  height: $auth-form-height;
  background-color: $white;
  @include flex-content-items(column, center, stretch);
  margin-bottom: 10px;
  @include border-default($grey);
  text-align: center;
  h3 {
    @include font-primary-size-weight(larger, bold);
    margin: 0px 40px;
    padding-bottom: 40px;
  }
  .EmailForm {
    @include flex-content-items(column, center, stretch);
    margin: 0px 40px;
    input {
      @include form-input();
    }
  }
}
