.FooterNav {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  max-width: 975px;
  margin: auto;
  justify-content: space-between;
  .NavigationLinks {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    li {
      margin-right: 15px;
      a {
        color: var(--blue);
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
  .Copyright {
    display: inline-flex;
    align-items: center;
    height: 21px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    color: grey;
  }
}

.HomeNav {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  max-width: 975px;
  margin-top: 20px;
  justify-content: space-between;
  padding: 5px;
  .NavigationLinks {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    li {
      margin-right: 5px;
      a {
        color: var(--grey);
        font-weight: 400;
        font-size: 11px;
        text-decoration: none;
      }
    }
  }
  .Copyright {
    display: inline-flex;
    align-items: center;
    height: 21px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    margin-top: 20px;
    color: var(--grey);
  }
}
