@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.FooterNav {
  @include flex-content(row, space-between);
  width: 100%;
  max-width: $footer-nav-container-width;
  .NavigationLinks {
    display: flex;
    flex-wrap: wrap;
    a {
      @include footer-font($primary-color);
      text-transform: uppercase;
      margin-right: 15px;
    }
  }
  .Copyright {
    @include footer-font(darken($tertiary-font-color, 15%));
    text-transform: uppercase;
  }
}

.HomeNav {
  @include flex(column);
  width: 100%;
  max-width: $footer-nav-container-width;
  padding: 20px;
  .NavigationLinks {
    display: flex;
    flex-wrap: wrap;
    a {
      @include footer-font($tertiary-font-color, regular);
      margin-right: 5px;
    }
  }
  .Copyright {
    @include footer-font($tertiary-font-color, regular);
    margin-top: 20px;
    text-transform: uppercase;
  }
}
